extends layout

block content
	div.jumbotron(style='width: 100%; height: 650px')
		h1.text-center Welcome to Lygma 
		h2.text-center Listing Your Games Made Awesome
		hr.my-4
		p.lead
			a.btn.btn-primary.btn-lg(href='/list', role='button') Games List
		p.fixed-bottom.text-right
			| Matthew Triner