extends layout

block content	
	.card.mb-3
	h3.card-header Portal
	.card-body
		h5.card-title Developer: Valve 
		h6.card-subtitle.text-muted Release Date: October 10, 2007
	img(style='height: 215px; width: 460px; display: block; margin-left: 20px;', src='https://steamcdn-a.akamaihd.net/steam/apps/400/header.jpg?t=1512752294')
	.card-body
		button.btn.btn-primary(type='button', onclick='addPortal()') Add to List
		button.btn.btn-primary(type='button', onclick='removeTop()') Remove From List
	ul.list-group.list-group-flush
		li.list-group-item Metascore: 90
		li.list-group-item Metacritic User Score: 9.2
	.card-body
		a.card-link(href='https://store.steampowered.com/app/400/Portal/') View on Steam
	.card

	.card.mb-3
	h3.card-header Portal 2
	.card-body
		h5.card-title Developer: Valve 
		h6.card-subtitle.text-muted Release Date: April 19, 2011
	img(style='height: 215px; width: 460px; display: block; margin-left: 20px;', src='https://steamcdn-a.akamaihd.net/steam/apps/620/header.jpg?t=1512411524')
	.card-body
		button.btn.btn-primary(type='button', onclick='addPortal2()') Add to List
		button.btn.btn-primary(type='button', onclick='removeTop()') Remove From List
	ul.list-group.list-group-flush
		li.list-group-item Metascore: 95
		li.list-group-item Metacritic User Score: 9.0
	.card-body
		a.card-link(href='https://store.steampowered.com/app/620/Portal_2/') View on Steam
	.card

	.card.mb-3
	h3.card-header Beat Saber
	.card-body
		h5.card-title Developer: Beat Games
		h6.card-subtitle.text-muted Release Date: May 1, 2018
	img(style='height: 215px; width: 460px; display: block; margin-left: 20px;', src='https://steamcdn-a.akamaihd.net/steam/apps/620980/header.jpg?t=1528748839')
	.card-body
		button.btn.btn-primary(type='button', onclick='addBeatSaber()') Add to List
		button.btn.btn-primary(type='button', onclick='removeTop()') Remove From List
	ul.list-group.list-group-flush
		li.list-group-item Techraptor Score: 8.0
	.card-body
		a.card-link(href='https://store.steampowered.com/app/620980/Beat_Saber/') View on Steam
	.card

	.card.mb-3
	h3.card-header Rocket League
	.card-body
		h5.card-title Developer: Psyonix
		h6.card-subtitle.text-muted Release Date: July 7, 2015
	img(style='height: 215px; width: 460px; display: block; margin-left: 20px;', src='https://steamcdn-a.akamaihd.net/steam/apps/252950/header.jpg?t=1536094900')
	.card-body
		button.btn.btn-primary(type='button', onclick='addRocketLeague()') Add to List
		button.btn.btn-primary(type='button', onclick='removeTop()') Remove From List
	ul.list-group.list-group-flush
		li.list-group-item Metascore: 86
		li.list-group-item Metacritic User Score: 8.3
	.card-body
		a.card-link(href='https://store.steampowered.com/app/252950/Rocket_League/') View on Steam
	.card

	.card.mb-3
	h3.card-header Slay the Spire
	.card-body
		h5.card-title Developer: Mega Crit Games
		h6.card-subtitle.text-muted Release Date: November 15, 2017		
	img(style='height: 215px; width: 460px; display: block; margin-left: 20px;', src='https://steamcdn-a.akamaihd.net/steam/apps/646570/header.jpg?t=1530082099')
	.card-body
		button.btn.btn-primary(type='button', onclick='addSlayTheSpire()') Add to List
		button.btn.btn-primary(type='button', onclick='removeTop()') Remove From List
		ul.list-group.list-group-flush
		li.list-group-item Steam: 10/10
	.card-body
		a.card-link(href='https://store.steampowered.com/app/646570/Slay_the_Spire/') View on Steam
		.card

	.card.mb-3
	h3.card-header League of Legends
	.card-body
		h5.card-title Developer: Riot Games
		h6.card-subtitle.text-muted Release Date: October 27, 2009
	img(style='height: 215px; width: 460px; display: block; margin-left: 20px;', src='https://pbs.twimg.com/media/DDkn4JCXYAASr1T.jpg')
	.card-body
		button.btn.btn-primary(type='button', onclick='addLeagueOfLegends()') Add to List
		button.btn.btn-primary(type='button', onclick='removeTop()') Remove From List
		ul.list-group.list-group-flush
		li.list-group-item Metascore: 78
		li.list-group-item Metacritic User Score: 5.5
	.card-body
		a.card-link(href='https://na.leagueoflegends.com/en/') View their Website
		.card